<div class="card-wrapper product-card-wrapper underline-links-hover">
  <div class="card card--loading card--media card--card color-background-2 gradient" style="--ratio-percent: 125%;">
    <div class="card__inner ratio" style="--ratio-percent: 125%;">
      <div class="card__media">
        <div class="media media--transparent media--hover-effect">

        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading"></h3>
        </div>
      </div>
    </div>
    <div class="card__content">
      <div class="card__information">
        <h3 class="card__heading h4"></h3>
        <div class="card-information">
          <div class="price"></div>
        </div>
      </div>
      <div class="quick-add no-js-hidden"></div>
    </div>
  </div>
</div>
