:root {
    --page-wide-width: 180rem;
    --color-message-error: #f44336;
    --color-message-success: #66bb6a;
    --color-message-info: #2986cc;
}

.shopify-payment-button__button--unbranded {
  padding: unset;
}

.texture,
.button,
.shopify-payment-button__button {
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>');
  background-size: 10px, 100%;
}

.button,
.shopify-payment-button__button {
    border: 0.4rem solid rgba(var(--color-foreground), 1);
    text-transform: uppercase;
    --color-shadow: var(--color-base-background-1);
    --color-button: var(--color-base-accent-1);
}

.button--secondary {
    --color-shadow: var(--color-base-background-2);
    --color-button: var(--color-base-accent-2);
    background-color: var(--gradient-base-accent-2);
    color: var(--gradient-base-background-2);
}

.button--tertiary {
    font-size: 1.5rem;
}

.button--small {
    padding: 0 1rem;
    font-size: 1.4rem;
    min-width: calc(9rem + var(--buttons-border-width) * 2);
    min-height: calc(3rem + var(--buttons-border-width) * 2);
}

.announcement-bar__message {
    letter-spacing: 0.15rem;
}

.header__icon {
   color: var(--gradient-base-accent-2);
}

.header__menu-item {
    font-family: var(--font-heading-family);
}

@media screen and (min-width: 990px) {
    .header__menu-item {
        color: rgba(var(--color-foreground), 1);
    }
}

@media screen and (min-width: 990px) {
    .link, .customer a {
        font-size: 1.8rem;
        letter-spacing: 0.15rem;
    }
}

@media screen and (min-width: 990px) {
    .header--top-left {
        grid-template-areas: "heading search icons";
        grid-template-columns: 1fr 3fr auto;
    }
}

@media screen and (min-width: 990px) {
    .header:not(.header--top-center) *>.header__search,
    .header--top-center>.header__search {
        display: none;
    }
}

.scrolled-past-header .header-account-buttons {
    opacity: 0;
    z-index: -1;
}

.header-account-buttons {
    margin-top: 2.5rem;
    max-width: 40rem;
}

.searchBar {
    display: none;
}

@media screen and (min-width: 990px) {
    .searchBar {
        display: block;
    }
}

.searchBar .searchBar__form {
    width: 70%;
    max-width: 50rem;
    display: block;
    margin-inline: auto;
}

@media screen and (min-width: 990px) {
    .searchBar .searchBar__form {
        width: 80%;
    }
}

.searchBar .search__button {
    color: var(--gradient-base-accent-2);
}

.searchBar .field:after {
    box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-base-accent-2), var(--inputs-border-opacity));
}

.searchBar .field:hover.field:after {
    box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) rgba(var(--color-base-accent-1),var(--inputs-border-opacity));
}

.searchBar .field__input:focus-visible {
    box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) rgba(var(--color-base-accent-2), var(--inputs-border-opacity));
}

.searchBar .field__input:focus {
    box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) rgba(var(--color-base-accent-1));
}

@media screen and (min-width: 990px) {
    .page-wide-desktop {
        width: min(95%, var(--page-wide-width));
        margin-inline: auto;
    }
}

/*
* Utilities
*/

.u-border-0 {
    border: 0 !important;
}

.u-border-block {
    border-block: var(--product-card-border-width) solid rgb(var(--color-foreground));
}

.u-mt-1 {
    margin-top: 1rem;
}

.u-mt-2 {
    margin-top: 2rem;
}

.u-mb-1 {
    margin-bottom: 1rem;
}

.u-ml-1 {
    margin-left: 1rem;
}

.u-ml-small {
    margin-left: 0.4rem;
}

.u-pb-0 {
    padding-bottom: 0 !important;
}

.formMessage {
    font-size: 1.4rem;
    padding-left: 1rem;
    display: block;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.formMessage--success {
    color: var(--color-message-success);
}

.formMessage--error {
    color: var(--color-message-error);
}

.formMessage--info {
    color: var(--color-message-info);
}

.text-with-icon {
    display: flex;
    align-items: center;
    line-height: 1;
    column-gap: 0.8rem;
}

.text-with-icon .icon {
    margin-bottom: 0.5rem;
}

.grid--2-col-desktop .grid__item--whole,
.grid__item--whole {
    width: 100%;
    max-width: 100%;
}


