@media screen and (min-width: 750px) {
  .card--card::before {
      content: " ";
      position: absolute;
      left: -1.6rem;
      bottom: -1.6rem;
      width: 100%;
      height: 100%;
      background-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>');
      background-color: rgba(var(--color-base-accent-1), 0.8);
      background-size: 12px,100%;
      border: .6rem solid #000;
      z-index: -5;
  }
}

.card--secondary::before {
    background-color: transparent;
}

.card--loading .card__media {
    animation: skeleton-loading 1s linear infinite alternate;
}

.card--loading .card__heading {
    width: 100%;
    height: 2.7rem;
    animation: skeleton-loading 1s linear infinite alternate;
    display: block;
}

.card--loading .card-information .price {
    margin-top: 1rem;
    height: 1.7rem;
    width: 80%;
    display: block;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.card .card__content {
  min-height: 0;
  min-width: 0;
}

.card--card .quick-add {
  overflow: hidden;
  min-width: 0;
}