.list-social {
    gap: 0.8rem;
}

.list-social__item .icon {
    height: 2.4rem;
    width: 2.4rem;
}

.list-social__link {
    border-radius: 0.8rem;
    padding: 0.8rem;
}

.list-social__link--youtube {
    background-color: #fff;
}

.list-social__link--instagram {
    --white: #fff;
    --blue: #3051f1;
    --purple: #c92bb7;
    --red: #f73344;
    --orange: #fa8e37;
    --yellow: #fcdf8f;
    --yellow_to: #fbd377;

    background: radial-gradient(
        circle farthest-corner at 28% 100%,
        var(--yellow) 0%,
        var(--yellow_to) 10%,
        var(--orange) 22%,
        var(--red) 35%,
        transparent 65%
    ), linear-gradient(145deg, var(--blue) 10%, var(--purple) 70%);
}

.list-social__link--youtube .icon {
    color: #FF0000;
}

.list-social__link--instagram .icon {
    color: #fff;
}

